body{

    font-family: 'Dancing Script', cursive;

    font-family: 'Kaushan Script', cursive;

    font-family: 'Kdam Thmor Pro', sans-serif;

    font-family: 'Poppins', sans-serif;

    font-family: 'Roboto', sans-serif;

    font-family: 'Rubik', sans-serif;

    font-family: 'Work Sans', sans-serif
}
main{
    width: 70%;
    margin: auto;
}
img{
width: 100%;
}

/* top -banner-section
-------------------------------------- */


.top-banners{
    margin-top: 120px;
    background-color: black;
    border-radius: 50px;
    padding: 30px 20px 0 10px;
}
.top-banner{
    display: flex;
}
.text-item{
    width: 35%;
    margin-left: 100px;
    color: white;
}
.text-item h1{
    font-size: 100px;
}
.text-item p{
    font-size: 38px;
}
.text-item button{
    width: 60%;
    padding: 40px 0;
    font-family: 'Work Sans', sans-serif;
    background-color: red;
    color: white;
    font-size: 40px;
    border-radius: 10px;
    border: none;
    transition: width 4s ease-in;
}
.text-item button:hover{
    background-color: orange;
    width: 80%;
}
.top-imgs{
    margin-left: 80px;
    width: 40%;
    margin: auto;
    
}
.top-imgs img{
    height: 920px;
}


/* form
------------------------- */
.form{
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 600px;
    color: white;
    padding: 25px;
    background-color: black;
    border-radius: 10px;
    
}
.form button{
    padding: 40px 0;
    font-size: 50px;
    border-radius: 10px;
    margin-top: 30px;
    border: none;
    width: 90%;
    margin: auto;
}
.form .blog{
    background-color: red;
    color: white;
    font-weight: 500;
    font-size: 50px;
} 


/* rigst-side
------------------------ */
.main-div{
    display: flex;
    margin-top: 100px;
    
}
.dive-2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-left: 30px;
    
}
.right-side{
    border: 1px solid gray;
    background-color: #ddd;
    border-radius: 10px;
    width: 100%;
    border:none ;
}
.test-ditels{
    font-size: 20px;
    margin-left: 70px;
    font-size: 40px;
}
.test-ditels button{
    padding: 10px 30px;
    margin-top: 30px;
    font-size: 30px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.842);
    border: 1px solid black;
}
.test-ditels h5{
    color: rgba(0, 0, 0, 0.808);
}
.course-info{
    display: flex;
    padding: 20px;
}
.fa-message{
    margin-left: 80px;
}


.hide-button button{
    display: none;
 }
/* foot-section
------------------------- */

.footer-main-div{

}

footer{
    background-color: black;
    padding: 70px 0 30px;
    color: white;
    text-align: center;
    margin-top: 120px;
   
}
footer h1{
    margin-top: 50px;
    font-family: 'Work Sans', sans-serif  ;
    color: #ddd;
    font-size: 70px;

}
footer hr{
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
    color: rgba(128, 128, 128, 0.438);
    
}
.footer-section{
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
    margin-bottom: 30px;
    color: grey;
    font-size: 38px;
}
.icon p{
    color: white;
    display: inline;
    padding: 20px 40px;
    font-size: 70px;
    margin-left: 20px;
}



/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------
 Mediya-qure
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */



/* Mobile-device---------------------------------
--------------------------------------- */


@media screen and (max-width:688px) {


    .top-banner{
        display: grid;
        padding: 20px 30px 0 10px;
        margin-left: 0;
        margin: auto;
        text-align: center;
        margin-left: 0;
        

    }
    .text-item{
        width: 100%;
        margin: auto;

    }
    .text-item h1{
        font-size: 36px;
    }
    .text-item p{
        font-size: 24px;
    }
    .text-item button{
        width: 100%; 
        margin: auto;
        text-align: center;
        padding: 25px 0;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .top-imgs{
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .top-imgs img{
        
    }
    
    /* form-------
    ------------------- */

    .main-div{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
        margin-left: 0;
        margin-top: 100px;
        
        
    }
    .form{
        width: 70%;
        margin: auto;
        background: none;
    }
    .form button{
       width: 120%;
       margin: auto;
       margin-left: -20px;
       border-radius: 30px;
       background-color: whitesmoke;
       
    }


     /* right-side---------------
     ------------------------------- */

    .dive-2{
        margin-top: 120px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .test-ditels button{
        border: none;
        background-color: gray;
        padding: 10px 40px;
        margin-top: 30px;
    }
    .course-info{
       
    }
    .course-duration{
        display: flex;
        justify-content: space-between;
    }
    .fa-message{
        margin-left: 10px;
    }

    .hide-button button{
        display: no;
     }


    /* footer-section-----------------
    ----------------------------- */
    .footer-main-div{
        display: grid;
    }
    .footer-section{
         display: flex;
         flex-direction: column-reverse;
         width: 75%;
         margin: auto;
         text-align: center;
         margin-bottom: 100px;
         margin-bottom: 30px;
         color: grey;
         font-size: 38px;
    }

    .icon p{
         color: cornflowerblue;
         display: inline;
         padding: 20px 40px;
         font-size: 70px;
         margin-left: 20px;

    }
    
}



/*----------------------------------------------
 tablet-responsive-----------------
------------------------------------- */

@media screen and (min-width: 688px) and (max-width: 992px) {
    .top-banners{
    }
    .top-banner{
        display: flex;
    }
    .text-item {
        font-size: 20px;
        margin-left: 30px;
        width: 80%;
    }
    .text-item h1{
        font-size: 40px;
    }
    .text-item p{
        font-size: 30px;
    }
    .text-item button{
        padding: 20px 0;
        width: 100%;

        
    }
    .top-imgs{
       width: 100%;
       margin: auto;
       padding: 10px 10px 0;
    }
    .top-imgs img{
        width: 100%;
        margin: auto;

    }

    /* form-----------------
    ---------------------------- */
    .main-div{
        display: grid;
    }
    /* .form{
        display:flex;
        background: none;
        flex-direction: row;
        justify-content: space-evenly;
        width: 500px;

    }
    .form button{
        margin-left: 20px;
        padding: 20px 60px;
        font-size: 30px;
        
         
    } */

    .form{
        background: none;
        width: 100%;
        margin: auto;
    }
    .form:hover{
        background-color: gray;
    }
    .form button{
        transition: 1s ease-in-out;
    }
    .form button:hover{
        background-color: navy;
    }


    /* wuld-cup
    ----------------
    -------------------------------- */
     
    .dive-2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .right-side{
        width: 100%;
        height: 100%;
    }
    .test-ditels button{
        border: none;
        padding: 20px 38px;
        background-color: aliceblue;
        border-radius: 15px;
    }

      
 
  .hide-button {
    width: 50%;
    margin: auto;
    margin-top: 130px;

    
  }
  .hide-button button{
    font-size: 70px;
    width: 80%;
    margin: auto;
    padding: 50px 0;
    border: 1px solid gray;
    background-color: red;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    color: white;
    display: block;
 }







    /* Footer----------------
    -----------------
    -----------------
  */

  .footer-section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
    margin-bottom: 30px;
    color: grey;
    font-size: 38px;
}
  .footer-section p{
   
  }

  .icon p{
    color: slategray;
    display: inline;
    padding: 20px 40px;
    font-size: 70px;
    margin-left: 20px;

}
  
}