body{
    margin: 0;
    padding: 0;

    font-family: 'Dancing Script', cursive;

    font-family: 'Kaushan Script', cursive;

    font-family: 'Kdam Thmor Pro', sans-serif;

    font-family: 'Poppins', sans-serif;

    font-family: 'Roboto', sans-serif;

    font-family: 'Rubik', sans-serif;

    font-family: 'Work Sans', sans-serif
}
main{
    width: 70%;
    margin: auto;

}
img{
    width: 100%;
}

/* top -banner-section
-------------------------------------- */
.top-banner{
    display: flex;
    background-color: black;
    border-radius: 20px;
    margin-top: 100px;
    color: #ddd;
    padding: 30px 40px 0 10px;
    
}

.text-item{
    margin-top: 100px;
    margin-left: 70px;
    color: white;
    width: 70%;
}
.text-item h1{
    font-size: 100px;
    font-family: 'Rubik', sans-serif;
}
.text-item p{
    font-size: 40px;
}
.text-item button{
   padding: 30px 60px;
   font-size: 40px;
   border-radius: 10px;
   background-color: orangered;
   border: none;
   transition: 4s;
}

.text-item button:hover{
    background-color: orange;
}
.top-imgs{
    width: 50%;
}

.top-imgs img{
    height: 900px;
    width: 100%;
}



 /* form
------------------------- */
.form{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    color: white;
    padding: 25px;
    background-color: black;
    border-radius: 10px;
    
}
.form button{
    padding: 40px 0;
    font-size: 50px;
    border-radius: 10px;
    margin-top: 30px;
    border: none;
    width: 80%;
    margin: auto;
}
.form .blog{
    background-color: red;
    color: white;
    font-weight: 500;
    font-size: 50px;
} 


/* rigst-side
------------------------ */
.main-div{
    display: flex;
    margin-top: 120px;
}
.would-cups{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.card-div{
    border: 1px solid gray;
    width: 80%;
    height: 80%;
    text-align: center;
    font-size: 20px;
    padding: 40px 40px;
    border-radius: 10px;
    border-radius: 10px;
    background-color: gainsboro;
    font-size: 50px;
    margin-left: 60px;
    border: none;

}
.imges{
    display: flex;
    font-size: 30px;
    justify-content: space-around;
    grid-gap: 20px;
    font-weight: bold;
   margin-top: 50px;   
}
.imges img{
    width: 100%;

    
}
.text-detles h3{
    font-size: 20px;
}




/* footer-section
------------------------- */


footer{
    background-color: black;
    padding: 70px 0 30px;
    color: white;
    text-align: center;
    margin-top: 120px;
   
}
footer h1{
    margin-top: 50px;
    font-family: 'Work Sans', sans-serif  ;
    color: #ddd;
    font-size: 70px;

}
footer hr{
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
    color: rgba(128, 128, 128, 0.438);
    
}
.footer-section{
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
    margin-bottom: 30px;
    color: grey;
    font-size: 38px;
}
.icon p{
    color: white;
    display: inline;
    padding: 20px 40px;
    font-size: 70px;
    margin-left: 20px;
}











/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------
 Mediya-qure
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */



/* Mobile-device---------------------------------
--------------------------------------- */
@media screen and (max-width: 688px) {
   
    .top-banner{
        display: grid;
    }
    .text-item{
        margin-bottom: 80px;
    }
    
    .text-item h1{
        font-size: 40px;
    }
    .text-item p{
        font-size: 22px;
    }
    .text-item button{
        padding: 20px 30px;
    }
    .text-item button:hover{
        background-color: green;
    }
    .top-imgs{
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .main-div{
        display: grid;
        margin-left: 0;
    }
    .form{
        width: 100%;
        margin: auto;
        display: grid;
        background: none;
    }


    .would-cups{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .footer-main-div{
        display: grid;
    }
    .footer-section{
         display: flex;
         flex-direction: column-reverse;
         width: 75%;
         margin: auto;
         text-align: center;
         margin-bottom: 100px;
         margin-bottom: 30px;
         color: grey;
         font-size: 38px;
    }

    .icon p{
         color: cornflowerblue;
         display: inline;
         padding: 20px 40px;
         font-size: 70px;
         margin-left: 20px;

    }
    
    
}







/* Teblet-device
-------------------------- */
@media screen and (min-width: 688px) and (max-width: 992px) {
    .top-banners{
    }
    .top-banner{
        display: flex;
    }
    .text-item {
        font-size: 20px;
        margin-left: 30px;
        width: 80%;
    }
    .text-item h1{
        font-size: 40px;
    }
    .text-item p{
        font-size: 30px;
    }
    .text-item button{
        padding: 20px 0;
        width: 100%;

        
    }
    .top-imgs{
       width: 100%;
       margin: auto;
       padding: 10px 10px 0;
    }
    .top-imgs img{
        width: 100%;
        margin: auto;

    }

    .main-div{
        display: grid;
    }
    .form{
        background: none;
    }
    .form:hover{
        background-color: #f1f1f1;
    }
    .form button{
        transition: 1s ease-in;
    }
    .form button:hover{
        background-color: green;
    }

    .would-cups{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 80px;
    
    }
    .card-div{
    }


    
  .footer-section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
    margin-bottom: 30px;
    color: grey;
    font-size: 38px;
}
  .footer-section p{
   
  }

  .icon p{
    color: olive;
    display: inline;
    padding: 20px 40px;
    font-size: 70px;
    margin-left: 20px;

}
}